._container_tqt58_1{display:flex;flex:1;flex-direction:column;align-items:center;justify-content:center;height:100%;text-align:center;gap:20px}._content_tqt58_12{display:flex;flex-direction:column;align-items:center}
